Source: narayan-designer
Section: contrib/science
Priority: extra
Maintainer: Cartesian Theatre <info@cartesiantheatre.com>
Standards-Version: 4.1.3.0
Build-Depends:
    autoconf-archive (>= 20170321-1),
    autopoint (>= 0.19.8.1),
    autotools-dev (>= 20161112.1),
    debhelper (>= 10.7.2),
    dh-exec,
    gawk,
    gettext (>= 0.19.8.1),
    mime-support,
    patch,
    pkg-config (>= 0.29.1),
    libc6-dev (>= 2.26),
    libstdc++6 (>= 7.2.0),
    lintian,
    po-debconf,
    tzdata,
    valgrind
Vcs-Git: https://github.com/cartesiantheatre/narayan-designer.git
Vcs-browser: https://github.com/cartesiantheatre/narayan-designer
Homepage: https://www.cartesiantheatre.com

Package: narayan-designer
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends}
Description: graphical design tool for social simulation models
 Narayan Designer is a cross platform tool used to create agent based
 simulation models for the Narayan simulation engine. 
 .
 The Narayan simulation engine can be embedded within a variety of creative
 applications. These might range from an urban dynamics simulator assisting
 city planners manage a real city to a game. A simulation model defines the
 world's agents, resources, maps, units, globals, and simulation rules.
 .
 Simulation rules are written using Narayan Logic. Narayan Logic is an easy
 to use stateless declarative language. Rules are executed atomically at
 regular cycle intervals to update the state of the simulation.
 .
 By allowing simulation designers to visualize their model, it becomes easier
 for non-technical subject matter experts to contribute to their
 construction.
 .
 Narayan Designer uses a graphical Gtk+ based user interface via the C++
 Gtkmm bindings. The Narayan simulation engine is used in Avaneya, a cerebral
 science fiction metropolis city builder social simulation.

Package: narayan-designer-dbg
Architecture: any
Section: contrib/debug
Priority: extra
Depends:
    narayan-designer (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for narayan designer
 Narayan Designer is a cross platform tool used to create agent based
 simulation models for the Narayan simulation engine. 
 .
 This package contains the debugging symbols for the narayan-designer package.

